@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection, where you will find all of the best films</h1>
    <h4>(disclaimer: Joel Hilton was married into some of these films)</h4>
    <br />
    <img src="~/Img/JoelHiltonHeadshot.jpg" />
</div>
