@{
    ViewData["Title"] = "My Podcasts";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="text-center">
    <a href="https://baconsale.com/" style="font-size: 35px; color: black">Baconsale</a>

</div>
